/* *********************************************** */
body {
    margin: 0;
}

.section {
    background-image: url("./пальмы.png");
    width: 100%;
    height: 1500px;
    scroll-behavior: smooth;
    background-attachment: fixed;
    z-index: -2;
    margin: 0;
}
.field {
    position: absolute;
    width: 100%;
    height: 1500px;
    z-index: 2;
}
.overlay {
    width: 100%;
    height: 1500px;
    position: absolute;
}

.fon {
    position: absolute;
    background-image: radial-gradient(
        circle 100px at 100px 400px,
        transparent 100px,
        #121213 0
    );
    width: 100%;
    height: 1500px;
    -webkit-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    scroll-behavior: smooth;
    background-attachment: fixed;
}

.section2 {
    width: 100%;
    height: 900px;
}

.fix {
    top: 50px;
    left: 700px;
    width: 400px;
    height: 50px;
    position: fixed;
    border-radius: 5px;
    z-index: 1;
    background-color: rgb(233, 233, 240);
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
}

.world {
    top: 100px;
    left: 500px;
    position: fixed;
    font-size: 230px;
    color: rgb(97, 97, 230);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.after {
    top: 350px;
    left: 200px;
    position: fixed;
    color: rgb(97, 97, 230);
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 250px;
}
.covid {
    top: 600px;
    left: 400px;
    position: fixed;
    font-size: 230px;
    color: rgb(97, 97, 230);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.text-inner2 {
    font-size: 42px;
    color: azure;
    position: absolute;
    border-top: solid;
    text-align: justify;
    word-break: break-all;
    position: fixed;
    width: 600px;
    left: 800px;
    top: 450px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.text {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    top: 1000px;
    position: absolute;
    font-size: 36px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}
.text-inner {
    word-break: break-all;
    height: auto;
    padding-right: 10%;
    position: relative;
    width: 600px;
    left: 800;
}
.arrow {
    fill: white;
    position: sticky;
    top: calc(100vh - 80px);
    left: 30px;
    height: 70px;
    margin-bottom: 10px;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    animation-direction: normal;
}
@-webkit-keyframes slideUp {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    20% {
        -webkit-transform: translateY(-70px);
        transform: translateY(-70px);
    }
    35% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes slideUp {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    20% {
        -webkit-transform: translateY(-70px);
        transform: translateY(-70px);
    }
    35% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.num {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 300px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    color: rgb(97, 97, 230);
}
